<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<title>Downloads Count for <%= data.packageName %></title>
		<style>
			* {
				padding: 0;
				margin: 0;
			}

			.main {
				height: 88vh;
				width: 99%;
			}

			.container {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 8px;
			}
		</style>
	</head>
	<body class="main">
		<div class="container">
			<h1 class="title">Package Details: <%= data.packageName %></h1>
			<p><strong>Package Name:</strong> <%= data.packageName %></p>
			<p><strong>Author Name:</strong> <%= data.authorName %></p>
			<p><strong>Author Email:</strong> <%= data.authorEmail %></p>
			<p><strong>Total Downloads:</strong> <%= data.downloads %></p>
			<p><strong>Provided By:</strong> <%= data.providedBy %></p>
		</div>
	</body>
</html>
