<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<title>
			Downloads Count for <%= data.packageName %> Provided by <%=
			data.providedBy %>
		</title>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

			.sourceSans {
				font-family: 'Source Sans 3', sans-serif;
			}

			.kreonSerif {
				font-family: 'Kreon', serif;
			}

			* {
				padding: 0;
				margin: 0;
				box-sizing: border-box;
			}

			.main {
				text-align: center;
				height: 100vh;
				width: 100%;
				background: #000000ed;
				color: whitesmoke;
				margin: 8px auto;
				padding: 4px;
				font-size: 17px;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.container {
				text-align: center;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 8px;
			}

			.container p {
				text-align: center;
				border: 1px solid white;
				padding: 3px 8px;
				transition: all 0.5s;
			}

			.container p:hover {
				border: 1px solid steelblue;
				color: steelblue;
				background: white;
			}

			.title,
			.pkg,
			.email,
			.dls,
			.provider,
			form button {
				display: inline-block;
				font-family: 'Kreon', serif;
				padding: 2px 8px;
				animation: shrinkGrow 2s ease-in-out infinite;
			}

			.container p:hover a,
			.container p:hover .author {
				color: steelblue;
				transition-duration: 0.5s;
			}

			h1.title {
				font-size: 20px;
				padding-bottom: 4px;
				margin-bottom: 12px;
				border-bottom: 1px solid whitesmoke;
			}

			a,
			.author {
				color: #b9ebed;
				text-decoration: none;
				transition: color 0.5s;
			}

			a:hover,
			.author:hover {
				color: midnightblue !important;
			}

			@keyframes shrinkGrow {
				0% {
					transform: scale(1);
				}
				50% {
					transform: scale(1.1);
				}
				100% {
					transform: scale(1);
				}
			}

			/* Form styles */
			form {
				margin-top: 20px;
				border: 1px solid whitesmoke;
				padding: 8px 16px;
				display: flex;
				flex-direction: column;
				gap: 10px;
				width: 300px;
				text-align: left;
			}

			form label {
				font-size: 16px;
				margin-bottom: 4px;
			}

			form input {
				padding: 8px;
				border: 1px solid #b9ebed;
				border-radius: 4px;
				background: #1a1a1a;
				color: white;
			}

			form button {
				padding: 10px;
				border: none;
				border-radius: 4px;
				font: 18px bold;
				background-color: steelblue;
				color: white;
				cursor: pointer;
				transition: all 0.5s;
			}

			form button:hover {
				background-color: slateblue;
			}
		</style>
	</head>
	<body class="main sourceSans">
		<!-- Display package details if available -->
		<div class="container">
			<h1 class="title">Package Details</h1>
			<% if (data) { %>
			<p>
				<strong>Package Name:</strong>
				<a
					class="pkg"
					target="_blank"
					rel="noopener noreferrer"
					href="https://www.npmjs.com/package/<%= data.packageName %>"
				>
					<%= data.packageName %>
				</a>
			</p>
			<p>
				<strong>Author Name:</strong>
				<span class="kreonSerif author"><%= data.authorName %></span>
			</p>
			<p>
				<strong>Author Email:</strong>
				<% if (data.authorEmail !== "Email Not Provided!") { %>
				<a
					class="email"
					target="_blank"
					rel="noopener noreferrer"
					href="mailto:<%= data.authorEmail %>"
				>
					<%= data.authorEmail %>
				</a>
				<% } else { %>
				<span class="kreonSerif"><%= data.authorEmail %></span>
				<% } %>
			</p>
			<p>
				<strong>Total Downloads:</strong>
				<span class="dls"><%= data.downloads %></span>
			</p>
			<p>
				<strong>Provided By:</strong>
				<a
					class="provider"
					target="_blank"
					rel="noopener noreferrer"
					href="https://nazmul-nhb.vercel.app/"
				>
					<%= data.providedBy %>
				</a>
			</p>
			<% } %>
		</div>

		<!-- Form to get package downloads count -->
		<form action="/package" method="GET">
			<label for="packageName">Package Name:</label>
			<input
				type="text"
				id="packageName"
				name="packageName"
				placeholder="Enter package name"
				value="<%= data.packageName %>"
				required
			/>

			<label for="startDate">Start Date:</label>
			<input
				type="date"
				id="startDate"
				name="startDate"
				placeholder=""
				value="<%= startDate %>"
			/>

			<label for="endDate">End Date:</label>
			<input
				type="date"
				id="endDate"
				name="endDate"
				value="<%= endDate %>"
			/>

			<button type="submit">Get Package Details</button>
		</form>
	</body>
</html>
